*{
    margin: 0;
    font-family: Arial, sans-serif;
}

.windows-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    background-image: url("image/nike-air-max-97-bw-skepta-2.jpg");
    background-color: transparent;
    background-position: center;
}

.grid-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    width: 100%;
}


.text-container1{
    display: flex;
    background-color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 0 auto;
    width: 500px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

}

.text-container2{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100px;
    position: relative;
    top: 30%;
    margin: 0 auto;
    width: 500px;
    border-radius: 25px;
}

.text-container3{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 150px;
    width: 750px;
    position: absolute;
    bottom: 0;
    border-top-right-radius: 25px;
    font-size: 10px;
}